@import "styles.css";

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: var(--very-light);  
  /* background: hsl(0, 0%, 98%); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* color: url(../../assets/images/logo.svg); */
  /* background-image: url(../../assets/images/logo.svg);
  background-repeat: no-repeat;
  back */
  height: 50px;
  padding: 1em;
}

.logo__menu {
   -webkit-transform:scale(0.8);
   -moz-transform:scale(0.8);
   -ms-transform:scale(0.8);
   transform:scale(0.8);
}

.menu {  
  display: flex;
  flex-direction: row;
  list-style-type: none;  
  margin: 0;
  padding: 0;  
}

.linha__menu {
  align-items: center;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;  
}

.link__navbar {
  color: var(--very-light);
  text-decoration: none;
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 1em;
  text-transform: uppercase;  
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: var(--dark-violet);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;  
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

.botao__navbar {  
  color: var(--very-light);
  font-family: var(--body-font);
  font-size: 14px;
  font-weight: 700;
  border: 2px solid var(--very-light);
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.8em 5em 0.8em;  
  text-transform: uppercase;
  /* background-image: url(../../assets/images/bg-pattern-intro-left-mobile.svg);
  
  background-repeat: no-repeat; */
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);  
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;       
    justify-content: center;
    align-items: center; 
    /* background-image: url(../../assets/images/bg-pattern-footer-mobile.svg);    
    background-repeat: no-repeat;       */
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);    
  }
  #menu-toggle:checked ~ .menu li {
    /* border: 1px solid #333; */
    height: 5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);    
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;    
    color: white;
    background-color: var(--very-dark-violet);    
  }
  /* .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  } */
}