@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

:root {
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);
    --very-dark-violet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light: hsl(0, 0%, 98%);
    --headings-font: 'DM Serif Display', serif;
    --body-font: 'Karla', sans-serif;
}

.container__section {
    display: flex;
    flex-direction: column;
    align-items: center;
       
}

.container__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.container__intro {
    background-color: var(--dark-violet);
    background-image: url(../../assets/images/bg-pattern-intro-left-mobile.svg);    
    /* background-position: left; */
    background-size: 1em left cover;        
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;      
}

.container__div__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5em 0.5em 5em;            
}

.container__imagem {
    width: 100vw;    
}

.titulo__intro {
    font-family: var(--headings-font);
    font-weight: 400;
    font-size: 3em;
    color: var(--very-light);
    text-align: center;    
}

.texto__intro {
    font-family: var(--body-font);
    font-weight: 400;
    font-size: 1em;
    color: var(--very-light);
    text-align: center;
    /* margin: 1em; */
    padding: 1.1em;
}

.botao {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 0px;
  padding: 0.8em 2em 0.8em;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  transition: transform 200ms,background 200ms;
  background: transparent;
  color: var(--very-light);
  box-shadow: 0 0 0 2px var(--very-light) inset;
    
}

.container__div__corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 1em 0.5em 0;  */
}

.container__background__image {
    background-image: url(../../assets/images/bg-pattern-intro-right-mobile.svg);    
    background-position: right;
    background-position-y: -5em;
    background-clip: unset; 
    background-repeat: no-repeat;
    
}

.titulo__corpo {
    font-family: var(--headings-font);
    font-weight: 400;
    font-size: 2.5em;
    color: var(--dark-violet);
    text-align: center;
    margin: 0.5em 0 1em; 
}

.linha__horizontal__corpo {
    width: 125px;
    border-bottom: 1px solid var(--dark-grayish-violet);
    margin: 7em 0 0;
    
}

.simbolo__corpo {
    margin: 2em 0 1em;
}

.titulo__cartao {
    font-family: var(--headings-font);
    font-weight: 400;
    font-size: 2em;
    color: var(--dark-violet);
    text-align: center; 
}

.texto__corpo {
    font-family: var(--body-font);
    font-weight: 400;
    font-size: 1em;
    color: var(--dark-grayish-violet);
    text-align: center;
    /* margin: 1em; */
    padding: 1.1em;  
}

.container__descubra__mais {
    margin: 5em 1.5em 5em;
    /* background-color: white; */
    background-image: url(../../assets/images/bg-pattern-how-we-work-mobile.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    
}

.caixa__div {    
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    
    margin: 5em 1em 5em;   
}

.container__footer {
    background-color: var(--very-light);
    background-image: url(../../assets/images/bg-pattern-footer-mobile.svg);
    background-repeat: no-repeat;    
}

.linha__horizontal__footer {
    width: 300px;
    border-bottom: 1px solid var(--dark-grayish-violet);
    margin: 2em;
}

.imagem__footer {
    margin: 5em 0 1.5em;
}

.container__midias {
    display: flex;
    flex-direction: row;
    
}

.link__midias {
    padding: 0.5em;
}

/* .line {
    border-bottom: 1px solid red;
    margin-bottom: 1px;
    width: 75%;
} */

.container__div__lista {
    margin: 1em;
}

.rodape__linha {
    margin: 0.4em;
}

.rodape__linha:first-child {
    margin-bottom: 1em;
}

/* .container__nav__footer {
    margin:  1em;
} */

/* .container__nav__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
} */

/* .rodape__navegacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    

} */

.rodape__link {
    text-decoration: none;
    font-family: var(--body-font);
    font-weight: 700;
    font-size: 1em;
    color: var(--dark-violet);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.rodape__link__destaque {
    color: var(--dark-grayish-violet);
    text-decoration: none;
    font-family: var(--body-font);
    font-weight: 700;
    font-size: 1em;
    text-transform: uppercase;
}
